*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  margin: 0;
}

body {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  font-family: system-ui, sans-serif;
}

[x-cloak] { display: none !important; }

header {
  flex-shrink: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

main {
  height: 100vh;
  width: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
}

.container {
  padding: 15px 15px 150px;
  max-width: 800px;
  margin: auto;
}

.config-wrap {
  border-left: 1px solid #ccc;
  border-radius: 6px;
  background: #42445A7A;
}

.config {
  
  .config-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 0.5rem;
    
    &.disabled {
      opacity: .7;
    }
    
  }
  
  
  p {
    padding: 3px;
  }
  
  pre {
    max-width: 100%;
    overflow: scroll;
    padding: 10px;
    font-size: 13px;
  }
  
  .path {}
  
  .time {
    opacity: 0.6;
    text-align: right;
  }
  
  .error {
    color: orangered;
    opacity: 0.8;
  }
  
  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    margin-top: 10px;
  }
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.status {
  &.inwalid {
    color: orangered;
  }
  
  &.unknown {
    color: slategray;
  }
}


#loginModal sl-input {
  margin-bottom: 10px;
}

/* —--------- */

.editor-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100% - env(keyboard-inset-height, 0px));
  inset: 0;
  
  display: flex;
  flex-direction: column;
  
  transition: left 0.3s ease, opacity 0.3s ease;
  background-color: #272822;
  color: #F8F8F2;
  
  &.hidden {
    left: 110vw;
    opacity: 0;
  }
  
  .editor_header {
    border-bottom: 1px solid #0A0D2A;
    
    .title {
      padding: 5px;
    }
    
    .error {
      background: indianred;
      padding: 5px 10px;
    }
  }
  
  .editor_footer {
    
    .buttons {
      display: flex;
      justify-content: space-evenly;
      gap: 10px;
      border-top: 1px solid #0A0D2A;
      
      padding: 5px;
      
      sl-button {
        flex: 1;
      }
    }
    
    .status {
      text-align: center;
      padding: 3px 5px;
      color: black;
      font-weight: bold;
      
      &.enabled {
        background: #B6FCB1;
      }
      
      &.disabled {
        background: #B6B6B6;
      }
    }
    
    .toolbar {
      display: flex;
      justify-content: space-evenly;
      gap: 6px;
      padding: 3px;
    }
    
  }
  
  & .editor {
    flex: 1;
    overflow: hidden;
    
    height: 100%;
  }
  
  & .prefix {
    display: inline-block;
    padding: 0 3px 0 10px;
  }
}

.snippets_panel {
  height: 35vh;
  width: 100%;
  overflow-y: scroll;
  
  transition: height 0.3s ease;
  
    .snippets_container {
      background: #383838;
    
    .snippet {
      max-width: 100%;
      border: 2px solid #686868;
      border-radius: 3px;
      padding: 5px;
      margin: 3px 5px 10px 5px;
      background: #212121;
      .snippet_name {
        padding: 3px 5px 3px 15px;
      }
      
      .snippet_content {
        font-size: 12px;
        background: black;
        margin: 5px;
        padding: 10px;
        max-height: 150px;
        overflow: scroll;
      }
    }
  }
}

.snippets_panel.hidden {
  height: 0px;
  overflow: hidden;
}